<div class="page-content__block">

	<div class="gallery-table" role="gallery">
	</div>

	<nav>
	  <ul class="pagination">
	    <!-- <li><a href="?page=1" rel="first">First</a></li> -->
	    <li class="pager"><a class="page-prev" href="#" rel="prev">&laquo;</a></li>

	  	<div class="pager-collection">
	    	<li class="pager"><a href="?page=1">1</a></li>
	  	</div>

	    <li class="pager"><a class="page-next" href="#" rel="next">&raquo;</a></li>
	    <!-- <li><a href="?page=5" rel="last">Last</a></li> -->
	  </ul>
	</nav>

</div>