<div class="page-content__block">

	<div class="gallery-table" role="gallery">
		<div class="section row">
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
		</div>
		<div class="section row">
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
		</div>
		<div class="section row">
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
		</div>
		<div class="section row">
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
			<div class="col span_1_of_3"><img src="/assets/art/1441449303516.jpg" class="gallery__image" width="370px" alt="col 1"/></div>
		</div>
	</div>

</div>