<header class="site-header" role="banner">
  <div class="wrapper">

  <div class="site-title" href="/">My logo</div>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger">
        <span class="menu-icon"><img src="assets/icons/hamburger.svg"/></span>
      </label>
      <div class="trigger">
        <ul class="nav-links">
          <li class="nav-links__item"><a href="#" class="link">Work</a></li>
          <li class="nav-links__item"><a href="#" class="link">About</a></li>
          <li class="nav-links__item"><a href="#" class="link">Shop</a></li>
          <li class="nav-links__item"><a href="#" class="link">Contact</a></li>
        </ul>
      </div>
    </nav>

  </div>
</header>