<header class="site-header" role="navigation">

  <nav class="mobile-menu" data-menu-mobile>
    <ul class="mobile-nav-links">
      <li class="mobile-menu__item"><a href="{{site.baseurl}}/" class="mobile-menu__link link">Home</a></li>
      <li class="mobile-menu__item"><a href="{{site.baseurl}}/drafts" class="mobile-menu__link link">Drafts</a></li>
      <li class="mobile-menu__item"><a href="{{site.baseurl}}/blog" class="mobile-menu__link link">Blog</a></li>
      <li class="mobile-menu__item"><a href="{{site.baseurl}}/about" class="mobile-menu__link link">About</a></li>
    </ul>
  </nav>

  <div class="wrapper">

  <div class="site-title"><a href="{{site.baseurl}}/"><div class="site-title__text">Simon <span class="site-title__focus">Greene</span></div></a></div>

    <nav class="site-nav">
      <input type="checkbox" id="nav-trigger" class="nav-trigger" />
      <label for="nav-trigger" data-menu-mobile-toggle>
        <span class="menu-icon"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></span>
      </label>
      <ul class="nav-links">
        <li class="nav-links__item"><a href="{{site.baseurl}}/drafts" class="link">Drafts</a></li>
        <li class="nav-links__item"><a href="{{site.baseurl}}/blog" class="link">Blog</a></li>
        <li class="nav-links__item"><a href="{{site.baseurl}}/about" class="link">About</a></li>
        <!-- <li class="nav-links__item"><a href="#" class="link">Contact</a></li> -->
      </ul>
    </nav>

  </div>
</header>