<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Simon Greene | {{page.title}}</title>
<meta name="description" content="{{site.description}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Security-Policy" content="style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com/ajax/libs/fancybox/ https://use.fontawesome.com/; script-src 'self' 'strict-dynamic' 'nonce-xDpSeva1' 'unsafe-inline' https://code.jquery.com/jquery-2.1.4.min.js https://use.fontawesome.com/ https://cdnjs.cloudflare.com/ajax/libs/fancybox/ https://www.google-analytics.com/; object-src 'none'; base-uri 'self';"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css">
<link rel="stylesheet" href="{{ site.baseurl }}/web-portfolio/assets/main.css">
<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css"></noscript>
<noscript><link rel="stylesheet" href="{{ site.baseurl }}/web-portfolio/assets/main.css"></noscript>