<div class="site-hero" role="banner">

	<div class="wrapper">
		<div class="site-hero__button"><i class="fa fa-chevron-down fa-4x" aria-hidden="true"></i></div>
		<div class="site-hero__preview">
			<h3 class="preview__greet">Hello!</h3>
			<p class="preview__text">I'm Simon Greene and this is my online portfolio. I love illustration and digital painting, particularly character design.</p>
		</div>
	</div>

  <ul class="showcase">
	{% for image in site.static_files %}
		{% assign loopindex = forloop.index %}
		{% if image.path contains 'assets/art' %}
			<li class="showcase__item"><div class="image-preview" style="background-image: url('{{ site.baseurl }}{{ image.path }}');"></div></li>
		{% else %}
			<li class="showcase__item"><div class="image-preview--none"><i class="fa fa-file-image-o fa-2x" aria-hidden="true"></i></div></li>
	  	{% endif %}
		{% if loopindex == 65 %}
			{% break %}
		{% endif %}
	{% endfor %}
	</ul>

</div>