<div class="page-content__block">
  <ul class="post-list">
    {% for post in site.posts %}
      {% assign full = post.content | number_of_words %}
      {% assign sample = post.excerpt | number_of_words %}
      <li class="post-list__item">
        <h3 class="blog-heading">{{ post.title }}</h3>
        <span class="post-meta">{{ post.date | date: "%B %e, %Y" }}</span>
        <p class="blog-excerpt">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        {% if full > sample %}
          <a class="blog-readmore" href="{{ site.baseurl | append: post.url }}">Read more ></a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>