<script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC" crossorigin="anonymous" nonce="xDpSeva1"></script>
<script nonce="xDpSeva1">window.jQuery || document.write('<script nonce="xDpSeva1" src="js/vendor/jquery-2.1.4.min.js"><\/script>')</script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js" nonce="xDpSeva1"></script>
<script async src="https://use.fontawesome.com/c78e4095c8.js" nonce="xDpSeva1"></script>
<script async src="{{ site.baseurl }}/assets/scripts.js" nonce="xDpSeva1"></script>