<div class="text-image">
	<div class="page-content__block">
		
		<div class="wrapper">
			<h2 class="section-title">{{page.title}}</h2>
			<div class="summary-wrapper">
				<div class="summary-blurb">
				  <p>Hi I'm Simon, a freelance artist with a background in computer science. Here you will find a collection of all my work ranging from simple paper sketches to a bit more fancy digital paintings. I'm still learning and its been an ongoing, difficult and time consuming process - but as they say, anything thats not hard learning is not worth doing.</p>

				  <p>I felt with my passion for illustration I was obliged to create this website to show off some of my work (it helps I enjoy working on websites). This site should also help to serve as a central repository for <a href="#">everything else I do.</a></p>
				</div>
				<img class="avatar-image" width="250px" src="http://res.cloudinary.com/dvzk8xiff/image/upload/v1493347431/Picture_of_me-min_bimyob.png" alt="Me">
			</div>
		</div>

	</div>
</div>