/**
 * About page
 */

.summary-blurb {
	display: block;
}

.avatar-image {
	display: block;
	margin: auto;
	border-radius: 50%;
}

@media (min-width: $small-up) {
	.summary-image,
	.summary-blurb {
		display: table-cell;
		vertical-align: middle;
	}

	.avatar-image {
		display: block;
		margin-left: 50px;
		float: right;
	}
}

.summary-wrapper {
	display: table;
}