/**
 * About page
 */

.summary-blurb {
	display: table-cell;
	vertical-align: middle;
	width: 75%;
}

.avatar-image {
	width: 250px;
	float: right;
	border-radius: 50%;
	margin-left: 50px;
}

.summary-wrapper {
	display: table;
}