/**
 * About page
 */

.summary-blurb {
	display: table-cell;
  vertical-align: middle;
	width: 75%;
}

.avatar-image {
	width: 300px;
	float: right;
	border-radius: 50%;
}

.summary-wrapper {
	display: table;
	padding: 20px 0;
}