/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  background-color: #242424;
  color: #7d7d7d;
}

.site-footer__container {
  padding: 30px 0;
}

.sub-footer {
  border-top: 1px solid #7d7d7d;
  text-align: center;
  padding: 20px 0;
}

.footer-heading {
  font-size: 22px;
  margin: 0; 
}

.social-media-link {
  display: block;
  height: inherit;
  color: inherit;
}

.social-media-list__item {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
  background-color: #2e2e2e;
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid #57c5a0;
    color: #57c5a0;
  }
}

.footer-col {
  display: block;
  width: 100%;
}

.footer-col-2 {
  margin: 30px 0;
}

.icon {
  margin-left: 2px;
}

@media screen and (max-width: 800px) {
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }

.form-field__container {
  display: flex;
}

.form-field__item {
  width: 50%;
  border: 0;
  background-color: #313233;
  color: white;
  font-family: inherit;
  font-size: inherit;
  padding: 15px;

  &:first-of-type {
    margin-right: 10px;
  }
}

.contact-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  margin: 15px 0;
  resize: none;
}

.submit-btn {
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
}

.submit-btn--enabled {
  border: 1px solid #57c5a0;
  color: #57c5a0;

  &:hover {
    cursor: pointer;
    background-color: #57c5a0;
    color: #616161;
  }
}

.submit-btn--disabled {
  border: 1px solid #313233;
  color: #313233;
}

.social-media-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $medium-only) {
  .footer-col-wrapper {
    display: flex;
  }

  .footer-col {
    display: inline-block;
    width: 50%;
  }

  .footer-col-1 {
    padding-right: 30px;
    border-right: 1px solid #7d7d7d;
  }

  .footer-col-2 {
    position: relative;
    margin: 0;
  }

  .social-media-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .submit-btn {
    width: 100px;
  }

  .contact-text {
    height: auto;
  }
}