/**
 * Site footer
 */
.site-footer {
  background-color: $colour-section-dark;
  color: $colour-light-grey;
}

.site-footer__container {
  padding: 30px 0;
}

.sub-footer {
  border-top: 1px solid $colour-border-grey;
  text-align: center;
  padding: 20px 0;
}

.footer-heading {
  font-size: 22px;
  margin: 0;

  @media (max-width: $small-up) {  
    font-size: 26px;
    text-align: center;
  }
}

.social-media-link {
  display: block;
  color: inherit;
  height: inherit;
}

.social-media-list__item {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
  background-color: $colour-dark-grey;
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid;
    color: $colour-turquoise-green;
  }
}

.footer-col {
  display: block;
  width: 100%;
}

.footer-col-2 {
  margin: 30px 0;
}

.icon {
  font-size: 16px;
  margin-left: 2px;
}

@media screen and (max-width: 800px) {
  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } 
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}

.form-field__container {
  display: table;
  width: 100%;
}

.form-field__container-item {
  display: inline-block;
  width: 100%;

  @media (min-width: $small-up) {
    width: 49%;
    
    &:first-child {
      margin-bottom: 0; 
    }

    &:last-child {
      float: right;
    }
  }
}

.form-field__item {
  border: 0;
  color: $colour-active-grey;
  font-family: inherit;
  font-size: inherit;
  padding: 15px;
  margin: 15px 0;
  border-bottom: 1px solid $colour-border-grey;
  width: 100%;
  background-color: $colour-dark-grey;
  box-sizing: border-box;
}

.contact-text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 130px;
  resize: none;

  @media (min-width: $small-up) {
    height: auto;
  }
}

.submit-btn {
  text-transform: uppercase;
}

.submit-btn--enabled {
  color: $colour-turquoise-green;

  &:hover {
    cursor: pointer;
    background-color: $colour-turquoise-green;
    color: white;
    border: 1px solid transparent;
  }
}

.submit-btn--disabled {
  color: $colour-dark-grey;

  &:active {
    color: $colour-dark-grey;
    background-color: transparent;
    border: 1px solid;
  }
}

.social-media-list {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $medium-only) {
  .footer-col-wrapper {
    display: flex;
  }

  .footer-col {
    display: inline-block;
    width: 50%;
  }

  .footer-col-1 {
    padding-right: 30px;
    border-right: 1px solid $colour-border-grey;
  }

  .footer-col-2 {
    position: relative;
    margin: 0;
  }

  .social-media-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .submit-btn {
    width: 100px;
  }
}

.footer-text {
  text-align: center;

  @media (min-width: $small-up) {
    text-align: left;
  }
}