.page-content__block--full {
 	min-height: 600px;
    margin: 0 -6%;

    @media (min-width: $extra-large) {
    	margin: 0 -34%;
    }
}

.no-fullwidth {
	background-color: #afafaf;
}

.fullwidth {
	background-color: #40285f;
}

.full-image {
	height: 600px;
}