@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../assets/fonts/ProximaNova-Light.eot');
	src: url('../assets/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/ProximaNova-Light.woff') format('woff'),
		url('../assets/fonts/ProximaNova-Light.ttf') format('truetype'),
		url("../assets/fonts/ProximaNova-Light.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
}

body {
	margin: 0;
	font-family: 'Proxima Nova Lt','Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #333;
}

p {
	line-height: 1.4em;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

.wrapper {
	width: 80%;
	height: 100%;
	margin: auto;
	display: table;
}

.page-content__block {
	padding: 60px 0;
}

.link {
	text-decoration: none;
  	text-transform: uppercase;
	color: gray;
}

.link:hover {
	color: #bebebe;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
}
