$extra-small: 320px;	/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
$small-only: 480px;		/* smartphones, Android phones, landscape iPhone */
$small-up: 600px;		/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
$medium-only: 801px;	/* tablet, landscape iPad, lo-res laptops ands desktops */
$large: 1025px;			/* big landscape tablets, laptops, and desktops */
$extra-large: 1281px;	/* hi-res laptops and desktops */

@font-face {
	font-family: 'Proxima Nova Lt';
	src: url('../assets/fonts/ProximaNova-Light.woff2') format('woff2'),
		url('../assets/fonts/ProximaNova-Light.woff') format('woff'),
		url('../assets/fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

body {
	margin: 0;
	font-family: 'Proxima Nova Lt','Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #333;
}

p {
	line-height: 1.4em;
	font-size: 20px;

	@media (min-width: $medium-only) {
		font-size: 18px;
	}
}

a {
	color: #57c5a0;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
	//margin-top: 0;
}

.wrapper {
	width: 90%;
	margin: auto;
	display: table;
	height: 100%;
}

@media (min-width: $extra-large) {
	.wrapper {
		width: 60%;
		height: 100%;
	}
}

.page-content {
	overflow: hidden;
}

.page-content__block {
	padding: 40px 0;
}

.page-content__full-width-block {
    background-color: #40285f;
    margin: 0 -6%;

    @media (min-width: $extra-large) {
    	margin: 0 -34%;
    }
}

.full-image__img {
    width: 100%;
    display: block;
    margin: auto;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}

.link {
	text-decoration: none;
  	text-transform: uppercase;
	color: #7d7d7d;
}

.nav-links__item .link:hover {
	color: #bebebe;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
}

.text-block {
	margin: 0;
	text-align: center;
}