/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 2% 0;
	text-align: center;
	-webkit-box-shadow: 25px 21px 43px -18px rgba(0,0,0,0.37);
	-moz-box-shadow: 25px 21px 43px -18px rgba(0,0,0,0.37);
	box-shadow: 25px 21px 43px -18px rgba(0,0,0,0.37);
	background-color: white;
}

/*  GROUPING  */
.row:before,
.row:after { content:""; display:table; }
.row:after { clear:both;}
.row { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { 
	width: 30.33%; 

    @media (min-width: 1920px) {
    	height: 492px;
    }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: $medium-only) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

@media only screen and (min-width: $extra-large) {
	.col:nth-child(3n+1) {
		clear: both;
		margin-left: 2%;
	}

	.col:nth-child(3n+2) {
	    margin-left: 2.5%;
		margin-right: 2.5%;
	}

	.col:nth-child(3n) {
		float: right;
		margin-right: 2%;
	}

	.col:nth-child(n+4) {
		margin-top: 0;
	}
}

.image-gallery {
	position: relative;
	border: 1px solid #5090A5;
}

.ajax-loader {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    width: 10%;
}

.gallery__image {
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

@media (min-width: $medium-only) and (max-width: $extra-large) {
	.col {
		width: 45%;
		margin-left: 0;

		&:nth-child(odd) {
			clear: both;
			margin-left: 3%;
		}

		&:nth-child(even) {
			margin-right: 3%;
			float: right;
		}
	}
}

.navigation-mobile {
	display: none;
}

.btn-default {
    margin: 15px auto;
    color: $colour-turquoise-green;
}

.navigation-pager {
	display: none;
	background-color: #7EB8CB;
}

.pagination {
    display: table;
    margin: auto;
    padding: 20px 0;
}

.pager {
	display: inline;
}

.pagination a {
    color: $colour-black;
    padding: 8px 16px;
    text-decoration: none;
    cursor: default;
}

.pager-collection {
	display: inline-block;
}

.hover-page:hover:not(.page-active) {
    cursor: pointer;
}

.page-active a,
.hover-page:hover { 
    background-color: #ddd;
}

.gallery-table {
	overflow: hidden;
	position: relative;
	width: 100%;
    background-color: lightblue;
    box-sizing: border-box;
    min-height: 15vw;
}

.gallery-table__container {
	display: inline-block;
    position: inherit;
	width: inherit;
}

.gallery-table__container--active {
    left: 0;
}

.gallery-table__container--hidden {
	position: absolute;
}

.prev {
	left: -100%;
}

.next {
	left: 100%;
}

.gallery-table__container--active,
.prev,
.next {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}