/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 3%;
	text-align: center;
}

/*  GROUPING  */
.row:before,
.row:after { content:""; display:table; }
.row:after { clear:both;}
.row { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 30.33%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: $medium-only) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

@media only screen and (min-width: $extra-large) {
	.col:nth-child(3n+1) {
		clear: both;
	}
}

.gallery-table {
    display: table;
}

.gallery__image {
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}

@media (min-width: $medium-only) and (max-width: $extra-large) {
	.col {
		width: 48%;
		margin-left: 0;

		&:nth-child(3) {
			clear: both;
		}

		&:nth-child(even) {
			margin-left: 3%;
		}
	}
}