$header-height: 70px;

/**
 * Site header
 */
.site-header {
  background-color: $colour-section-dark;
  max-height: 55.95px;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid $colour-turquoise-green;
  z-index: 99;
  height: 100%;

  @media (min-width: $small-up) {
    min-height: 55.95px;
    max-height: $header-height;
  }
}

#main {
  padding-top: 57px;

  @media (min-width: $small-up) { 
    padding-top: $header-height;
  }
}

.site-nav {
  float: right;

  @media (min-width: $small-up) {
    display: table;
    height: 100%;
  }
}

.nav-links {
  display: table-cell;
  vertical-align: middle;

  @media (max-width: $small-up) {
    display: none;
  }
}

.mobile-nav-links,
.nav-links {
  list-style-type: none;
  padding: 0;
}

.mobile-nav-links {
  margin: 0;
}

.nav-links__item {
  display: inline;
  padding-right: 25px;
}

.nav-links__item:last-child {
  padding-right: 0;
}

.site-title {
  position: absolute;
  display: flex;
  align-items: center;
  height: inherit;
}

.site-title__text {
  display: inline-block;
  text-transform: uppercase;
  color: white;
  font-size: 34px;
}

.site-title__focus {
  color: $colour-header-logo-green;
  font-size: inherit;
}

#nav-trigger,
.menu-icon {
  display: none; 
}

@media screen and (max-width: $small-up) {
  .site-nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-55%);
  }

  #nav-trigger_icon {
    display: block;
    line-height: 0;
  }

  .fa-bars {
    color: $colour-mid-grey;
  }

}

.mobile-menu {
  position: fixed;
  width: 100%;
  margin-top: 57px;
  right: -100%;
}

.mobile-menu__item {
  border-bottom: 1px solid $colour-active-grey;
  background-color: white;
  line-height: 1.6;
}

.mobile-menu__item.active {
  background-color: #eee;
}

.mobile-menu__link {
  text-align: center;
  font-size: 1.125rem;
  display: block;
  padding: 1rem 2.0625rem;
}

.menu-open {
  right: 0;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
