.site-hero {
	//background-image: url('../assets/art/twau.png');
	background-position: center center;
	height: 700px;
    display: table;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.showcase {
    position: absolute;
    width: 100%;
    height: inherit;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #afafaf;
    top: 0;
    z-index: -1;
}

.showcase__item {
    height: 148px;
    width: 147px;
    display: inline-block;
    margin-right: -5px;
    margin-top: -3px;
}

.image-preview {
    // max-width: 100%;
    // max-height: 100%;
    // margin: 0;
    // vertical-align: top;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.site-hero__button {
    display: inline-block;
    position: absolute;
    top: 0;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.5s;

    &:hover {
        cursor: pointer;
    }
}

.site-hero__button--transition {
    top: 700px;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.5s;
}

.site-hero__preview {
    background-color: rgba(255, 255, 255, 0.7);
    vertical-align: middle;
    height: 0;
    padding: 0 50px;
    transition: height .5s ease, padding .5s ease;
}

@media (min-width: $small-up) {
    .site-hero__preview {
        width: 25%;
    }
}

@media (max-width: $small-up) { 
    .site-hero__button {
        visibility: hidden;
    }

    // .site-hero__preview {
    //     height: auto;
    // }

    // .preview__text,
    // .preview__greet {
    //     visibility: visible;
    // }
}

.site-hero__preview p,
.site-hero__preview h3 {
    visibility: hidden;
}

.site-hero__preview--expanded {
    height: inherit;
    padding: 50px;
}

.preview__greet {
    font-size: 48px;
}

.preview__text {
    font-size: 28px;
}