.site-hero {
	//background-image: url('../assets/art/twau.png');
	background-position: center center;
	height: 700px;
    display: table;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.showcase {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #afafaf;
    top: 0;
    z-index: -1;
    column-gap: 0;
}

.showcase__item {
    height: 148px;
    width: 147px;
    display: inline-block;
    margin-right: -5px;
    margin-top: -3px;
}

.image-preview {
    // max-width: 100%;
    // max-height: 100%;
    // margin: 0;
    // vertical-align: top;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.site-hero__button {
    display: inline-block;
    position: absolute;
    top: 0;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.5s;
    visibility: hidden;

    &:hover {
        cursor: pointer;
    }
}

.site-hero__button--transition {
    top: 700px;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.5s;
}

.site-hero__preview {
    background-color: rgba(255, 255, 255, 0.7);
    vertical-align: middle;
    height: 0;
    padding: 0 50px;
    transition: height .5s ease, padding .5s ease;
}

@media (min-width: $small-up) {
    .site-hero__preview {
        width: 25%;
    }
}

@media (min-width: $extra-large) { 
    .site-hero__button {
        visibility: visible;
    }
}

.site-hero__preview p,
.site-hero__preview h3 {
    visibility: hidden;
}

.site-hero__preview--expanded {
    height: inherit;
    padding: 50px;
}

.preview__greet {
    font-size: 48px;
}

.preview__text {
    font-size: 28px;
}

@media (min-width: 1620px) and (max-width: 1913px) {//293
    .showcase {
        -moz-column-count:    13;
        -webkit-column-count: 13;
        column-count:         13;
    }   
}

@media (min-width: 1475px) and (max-width: 1620px) {//145
    .showcase {
        -moz-column-count:    11;
        -webkit-column-count: 11;
        column-count:         11;
    } 
}

@media (min-width: 1329px) and (max-width: 1475px) {//146
    .showcase {
        -moz-column-count:    10;
        -webkit-column-count: 10;
        column-count:         10;
    } 
}

@media (min-width: 1183px) and (max-width: 1329px) {//146
    .showcase {
        -moz-column-count:    9;
        -webkit-column-count: 9;
        column-count:         9;
    } 
}

@media (min-width: 1037px) and (max-width: 1183px) {
    .showcase {
        -moz-column-count:    8;
        -webkit-column-count: 8;
        column-count:         8;
    } 
}

@media (min-width: 890px) and (max-width: 1036px) {
    .showcase {
        -moz-column-count:    7;
        -webkit-column-count: 7;
        column-count:         7;
    } 
}

@media (min-width: 750px) and (max-width: 890px) {
    .showcase {
        -moz-column-count:    6;
        -webkit-column-count: 6;
        column-count:         6;
    } 
}

@media (min-width: 452px) and (max-width: 749px) {
    .showcase {
        -moz-column-count:    5;
        -webkit-column-count: 5;
        column-count:         5;
    } 
}

@media (min-width: 452px) and (max-width: $small-up) {
    .showcase {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    } 
}

@media (max-width: $small-only) {
    .showcase {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    } 
}