.site-hero {
	background-position: center center;
    width: 100%;
    height: 444px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: inset 0px 0px 160px 31px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 160px 31px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 160px 31px rgba(0,0,0,1);
}

.showcase {
    position: absolute;
    width: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #afafaf;
    top: 0;
    z-index: -1;
    column-gap: 0;
}

.showcase__item {
    height: 148px;
    width: 100%;
    display: table;

    &:nth-child(odd) {
        background-color: #888888;
    }
}

.image-preview {
    display: table-cell;
    width: 100%;
    background-position: 55% 20%;
    background-repeat: no-repeat;
    zoom: 50%;
}

.image-preview--none {
    display: table-cell;
    height: inherit;
    width: inherit;
    vertical-align: middle;
    text-align: center;
    color: #4c4c4c;
}

.site-hero__button {
    display: inline-block;
    position: absolute;
    top: 0;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.5s;
    visibility: hidden;
    color: white;
    text-shadow: 0px 0px 3px #000;

    &:hover {
        cursor: pointer;
    }
}

.site-hero__button--transition {
    top: 700px;
    -webkit-transition-property: top;
    -webkit-transition-duration: 0.5s;
}

.site-hero__preview {
    background-color: rgba(255, 255, 255, 0.7);
    vertical-align: middle;
    height: 0;
    padding: 0 50px;
    transition: height .5s ease, padding .5s ease;
}

@media (min-width: $small-up) {
    .site-hero__preview {
        width: 25%;
    }
}

@media (min-width: $extra-large) { 
    .site-hero__button {
        visibility: visible;
    }
}

.site-hero__preview p,
.site-hero__preview h3 {
    visibility: hidden;
}

.site-hero__preview--expanded {
    height: inherit;
    padding: 50px;
}

.preview__greet {
    font-size: 48px;
    margin-top: 0;
}

.preview__text {
    font-size: 28px;
    margin: 0;
}

@media (min-width: 1620px) {
    .showcase {
        -moz-column-count:    12;
        -webkit-column-count: 12;
        column-count:         12;
    }   
}

@media (min-width: 1475px) and (max-width: 1620px) {//145
    .showcase {
        -moz-column-count:    11;
        -webkit-column-count: 11;
        column-count:         11;
    } 
}

@media (min-width: 1329px) and (max-width: 1475px) {//146
    .showcase {
        -moz-column-count:    10;
        -webkit-column-count: 10;
        column-count:         10;
    } 
}

@media (min-width: 1183px) and (max-width: 1329px) {//146
    .showcase {
        -moz-column-count:    9;
        -webkit-column-count: 9;
        column-count:         9;
    } 
}

@media (min-width: 1037px) and (max-width: 1183px) {
    .showcase {
        -moz-column-count:    8;
        -webkit-column-count: 8;
        column-count:         8;
    } 
}

@media (min-width: 890px) and (max-width: 1036px) {
    .showcase {
        -moz-column-count:    7;
        -webkit-column-count: 7;
        column-count:         7;
    } 
}

@media (min-width: 750px) and (max-width: 890px) {
    .showcase {
        -moz-column-count:    6;
        -webkit-column-count: 6;
        column-count:         6;
    } 
}

@media (min-width: 452px) and (max-width: 749px) {
    .showcase {
        -moz-column-count:    5;
        -webkit-column-count: 5;
        column-count:         5;
    } 
}

@media (min-width: 452px) and (max-width: $small-up) {
    .showcase {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    } 
}

@media (max-width: $small-only) {
    .showcase {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}