/**
 * Blog content
 */

.post-heading {
  font-size: 28px;
  margin: 16px 0;
}

.post-list {
  margin-left: 0;
  list-style: none;
  padding: 0;
}

.post-list > li {
  margin-bottom: 60px;
}

.post-meta {
  font-size: 20px;
  color: #828282;
  display: block;

  @media (min-width: $medium-only) {
    font-size: 18px;
  }
}

@media (max-width: $medium-only) {
  .post-link {
    border: 1px solid;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
  }

  .post-link:active {
    background-color: #57c5a0;
    color: white;
  }
}