/**
 * Blog content
 */

.post-heading {
  font-size: 28px;
  margin: 16px 0;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-list__item {
  margin-bottom: 60px;
}

.post-meta {
  color: $colour-mid-grey;
}

.post-link {
  @media (min-width: $medium-only) {
    display: initial;
    padding: 0;
    border: 0;
    text-align: left;
  }

  @media (max-width: $medium-only) {
    text-decoration: none;
    box-sizing: border-box;
  }
}