/**
 * Blog content
 */

.blog-heading {
  font-size: 28px;
  margin: 16px 0;
}

.post-list {
  margin-left: 0;
  list-style: none;
  padding: 0;
}

.post-list > li {
  margin-bottom: 60px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
  display: block;
}

.post-link {
  display: block;
  font-size: 24px;
}