---
title: Drafts
layout: default
permalink: drafts.html
description: Here are some basic character sketches I like to do in my free time. Generally I start out doing these on paper, scan them in and go over them again with a tablet, usually in Krita. These are fun to do and are helpful when practicing line work, proportion and perspective. I'll usually update this section pretty frequently.
galleries:
- portrait
- sketch
---

{% include text.html %}

{% for gallery in page.galleries %}
	{% include grid.html %}
{% endfor %}

