---
---

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Portfolio blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <link rel="stylesheet" href="/assets/main.css">
        <script src="/assets/scripts.js"></script>
    </head>

    <body>

        {% include header.html %}

        {% include blog.html %}

        {% include footer.html %}

        {% include analytics.html %}

    </body>
</html>