<!DOCTYPE html>
<html>
  <head>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head.html %}

  </head>

  <body>

    {% include header.html %}

    <div id="main" role="main" class="container">

      {% if page.title == 'Home' %}{% include hero.html %}{% endif %}

      <main class="page-content" aria-label="Content">
        <div class="wrapper">{{ content }}</div>
      </main>

    </div>

    {% include footer.html %}

    {% include analytics.html %}
  </body>
</html>